#background {
    min-height: 1050px;
    width: 100%;
}

#top {
    height: 35px;
    width: 100%;
    background: #2c7ad6;
    line-height: 35px;
    padding: 0px 20px 9px 100px;
    box-sizing: border-box;
    word-spacing: 10px;
}

#menu {
    height: 65px;
    width: 100%;
    background: green;
}

#logo {
    height: 65px;
    width: 40%;
    background: white;
    text-align: center;
    line-height: 65px;
    font-size: 40px;
    float: left;
}

#menu1 {
    height: 65px;
    width: 60%;
    background: white;
    float: left;
}

#menu1 UL {
    list-style: none;
    padding-left: 97px;
    box-sizing: border-box;
}

#menu1 LI {
    height: 45px;
    width: 130px;
    text-align: center;
    display: inline-block;
    line-height: 45px;
    transform: translateY(-5px);
    color: black;
    font-size: 20px;
}

#menu1 LI:hover {
    background: #2c7ad6;
    color: white;
    transition: all ease 1s;
    border-radius: 3px;
}

#slider {
    height: 640px;
    width: 100%;
    background: url(../assets/pic1.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

#x {
    height: 640px;
    width: 40%;
    background: rgba(0, 0, 0, 0.4);
    float: left;
    font-size: 41px;
    color: white;
    text-align: center;
    padding-top: 250px;
    box-sizing: border-box;
}

#y {
    height: 640px;
    width: 60%;
    background: rgba(0, 0, 0, 0.4);
    float: left;
}

#l {

    height: 165px;
    width: 60%;
    background: rgba(255, 255, 255, 0.6);
    float: left;
    margin: 60px;
    border-radius: 7px;
}

#l:hover {
    background: linear-gradient(45deg, rgba(50, 177, 40, 0.6), rgba(255, 255, 255, 0.6));
}

#m {
    height: 285px;
    width: 60%;
    background: rgba(255, 255, 255, 0.6);
    float: left;
    margin: 60px;
    border-radius: 7px;
    margin-top: 1px;
}

#m:hover {
    background: linear-gradient(45deg, rgba(50, 177, 40, 0.6), rgba(255, 255, 255, 0.6));
}

#student {
    margin: 25px 50px;
    color: black;
}

#Teacher {
    margin: 50px 50px;
    color: white;
}

.t {
    height: 40px;
    width: 100%;
    border: 2px solid green;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#down {
    height: 300px;
    width: 100%;
    margin-top: 10px;
    background: url(../assets/pic2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 10px;
    color:white;
  }

.footer {
    height: 20px;
    width: 100%;
    background: black;
    color: rgb(236, 231, 231);
    text-align: center;
}

.view-all-button {
    text-decoration: none;
    margin-left: 105px;

}

.view-all-button:hover {
    background: linear-gradient(45deg, rgba(208, 218, 207, 0.6), rgba(255, 255, 255, 0.6));
    border-radius: 7px
}


.update-button {
    border: 'none';
        width: '60%';
        height: '30px';
        backgroundColor: '#2c7ad6'
}
.editable-input {
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 3px;
    
}

.editable-input:focus {
    border: 1px solid #2c7ad6; /* Change border color when focused */
    outline: none; /* Remove the default focus outline */
}

.custom-button {
    display: inline-block;
    padding: 4px 20px;
    background-color: #2c7ad6; /* Background color of the button */
    color: #fff; /* Text color of the button */
    text-decoration: none;
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px;
    margin-left: 155px; /* Add margin for spacing */
    margin-top:5px;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #20579e; /* Change the background color on hover */
}



#alert.show {
    display: block;
}


